<table class="scrollable">
  <thead>
    <tr>
      <th class = "date text-center">Date</th>
      <th class = "text-center"><%= collection[:type] %></th>
      <th class = "action text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="10" style="padding: 0">
        <div>
          <table>
            <% collection[:measurements].each do |m| %>
            <tr>
              <td class="scroll-first-td text-center"><%= m.as_of_dt %></td>
              <td class="scroll-second-td text-center"><%= m.value %></td>
              <td class="scroll-last-td text-center"> <%= link_to 'Edit', edit_person_measurement_path(@person, m) %>  | <%= link_to 'Delete', m, method: :delete, data: { confirm: 'Are you sure?'} %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
