<h2 class="text-center">Baby Graphs</h2>
<p class="text-center">Compare your children's measurements as they reach certain milestones.</p>

<% if current_page?(:controller => 'people', :action => 'index') %>
  <style>
    .rickshaw_graph .detail .x_label { display: none }
  </style>
<% end %>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="small-6 columns">
  <h3 class="text-center">Weight</h3>
    <script>
      gon.graph_type = "weight";
    </script>
    <%= render 'graph', collection: {graph_type: "weight"} %>
  </div>

  <div class="small-6 columns">
  <h3 class="text-center">Height</h3>
    <script>
      gon.graph_type = "height";
    </script>
    <%= render 'graph', collection: {graph_type: "height"} %>
  </div>
</div>
<h2 class="text-center">Baby List</h1>
<table align= "center">
  <thead>
    <tr>
      <th class="text-center">First Name</th>
      <th class="text-center">Last Name</th>
      <th class="text-center">Gender</th>
      <th class="text-center">Birthday</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @persons.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.gender %></td>
        <td><%= person.birthday %></td>
        <td><%= link_to 'Show', person, class: "button radius small zero-margin-bottom" %>
        <%= link_to 'Edit', person, class: "button radius small zero-margin-bottom" %>
        <%= link_to 'Delete', person, class: "button radius alert small zero-margin-bottom", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
