<h1 class="text-center">Baby <%= @person.first_name %></h1>
<p class="text-center">Compare your child's measurements to the national average.</p>
<p class="text-center">Birthday: <%= @person.birthday.to_s %> (<%= time_ago_in_words(@person.birthday) %>)</p>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-6 columns">
  <h3 class="text-center">Weight</h3>
    <script>
      gon.graph_type = "weight";
    </script>
    <%= render 'graph', collection: {graph_type: "weight"} %>
  </div>

  <div class="small-6 columns">
  <h3 class="text-center">Height</h3>
    <script>
      gon.graph_type = "height";
    </script>
    <%= render 'graph', collection: {graph_type: "height"} %>
  </div>
</div>

<br>
</br>
<br>
</br>

<div class="small-4 columns">
  <h3 class="text-center">Weight</h3>
  <div class="row">
    <div class="small-12 columns">
      <%= render 'scroll_table', collection: {measurements: @person.measurements.where("measurement_type = ?", "weight").order("as_of_dt desc"), type: "Weight"} %>
      </div>
  </div>
</div>

<div class="small-4 columns text-center">
<h6> Please enter height in centimeters and weight in kilograms. </h6>
  <%= form_for([@person, @measurement]) do |f| %>
  <% if @measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@measurement.errors.count, "error") %> prohibited this measurement from being saved:</h2>
      <ul>
      <% @measurement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>
  <div class="row">
    <label>Measurement Type</label>
  </div>
    <%= f.select :measurement_type, Measurement::MEASUREMENT_TYPES, :selected => @measurement.measurement_type %>
    <label> Measurement </label>
    <%= f.text_field :value %>
    <label> Date Measured </label>
    <%= f.text_field :as_of_dt %>
  <div class="small-12 small-centered columns">
    <%= f.submit "Add Measurement", class: "button radius small" %>
  </div>
  <% end %>
</div>

<div class="small-4 columns">
<h3 class="text-center">Height</h3>
  <%= render 'scroll_table', collection: {measurements: @person.measurements.where("measurement_type = ?", "height").order("as_of_dt desc"), type: "Height"} %>
</div>
