<%- if @user.errors.size > 0 -%>
  <ul class="errors">
    <%- @user.errors.full_messages.each do |message| -%>
      <li><%= message %></li>
    <%- end -%>
  </ul>
<%- end -%>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <%= f.submit 'Register' %>
<%- end -%>
